@model IEnumerable<RolesDemo.ViewModels.RoleVM>
@{
    ViewData["Title"] = "User Roles Detail";
}

<h3>User: @ViewBag.UserName</h3>

@if (ViewBag.ConfirmationMessage != null)
{
    <div class="alert alert-success">@ViewBag.ConfirmationMessage</div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<p>
    @Html.ActionLink("Assign Roles", "Create", new { email = @ViewBag.Email })
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.RoleName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                <td>
                    @Html.ActionLink("Delete", "DeleteUserRole", new { email = @ViewBag.Email, roleName = item.RoleName })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to User List</a>
</div>
